@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
    --colorPrimary : #13C1AC;
    --colorSecondary : #FFA323;
    --colorIce : #E5EBEA;
}

body{
    background-color: var(--colorIce);
}

.tx-primary{
    color: var(--colorPrimary);
}
.tx-secondary{
    color: var(--colorSecondary);
}
.tx-ice{
    color: var(--colorIce);
}

.sf-primary{
    color: var(--colorPrimary);
}
.sf-secondary{
    color: var(--colorSecondary);
}.sf-ice{
    color: var(--colorIce);
}